In [206]:
import numpy as np
import pandas as pd
import random

In [207]:
shark = pd.read_csv('C:\\Users\\Vivi\\Documents\\Data\\MyLab\\data-ber-08-20\\Projects\\module-1_projects\\02_pandas-project\\GSAF5.csv', engine = "python" )

In [208]:
shark.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [209]:
shark_copy = shark.copy()

In [210]:
len(shark_copy.columns)

24

In [211]:
shark_copy.size

143808

In [212]:
len(shark_copy)

5992

In [213]:
shark_copy.shape

(5992, 24)

In [214]:
dtype(shark_copy)

NameError: name 'dtype' is not defined

In [215]:
shark_copy.isna()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5988,False,False,False,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5989,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5990,False,False,False,False,False,True,False,True,False,False,...,True,False,False,False,False,False,False,False,True,True
5991,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True

In [216]:
shark_copy.isna().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [217]:
missing_values =shark_copy.isna().sum()

In [218]:
#After checking the dataframe lenght, I know that the dataframe has 5992 rows.
#As columns Unnamed: 22 & Unnamed: 23 have 5991 and 5990 missing values each, I will remove those 2 columns.
#Years from column 'year' are already mentioned in the column 'date', therefore I will drop column 'Year'


newshark = shark_copy.drop(columns=["Unnamed: 22", "Unnamed: 23", "Year"])

In [219]:
newshark.head()

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989

In [220]:
newshark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Type                    5992 non-null   object
 3   Country                 5949 non-null   object
 4   Area                    5590 non-null   object
 5   Location                5496 non-null   object
 6   Activity                5465 non-null   object
 7   Name                    5792 non-null   object
 8   Sex                     5425 non-null   object
 9   Age                     3311 non-null   object
 10  Injury                  5965 non-null   object
 11  Fatal (Y/N)             5973 non-null   object
 12  Time                    2779 non-null   object
 13  Species                 3058 non-null   object
 14  Investigator or Source  5977 non-null   object
 15  pdf                     5992 non-null   object
 16  href formula            5991 non-null   object
 17  href                    5989 non-null   object
 18  Case Number.1           5992 non-null   object
 19  Case Number.2           5992 non-null   object
 20  original order          5992 non-null   int64
dtypes: int64(1), object(20)
memory usage: 983.2+ KB

In [221]:
missing_values_ratios = missing_values[missing_values.gt(0)]/len(shark)
missing_values_ratios

#even though missing info in the column time is high, I believe this info is quite important so I won't drop it.

Country                   0.007176
Area                      0.067089
Location                  0.082777
Activity                  0.087951
Name                      0.033378
Sex                       0.094626
Age                       0.447430
Injury                    0.004506
Fatal (Y/N)               0.003171
Time                      0.536215
Species                   0.489653
Investigator or Source    0.002503
href formula              0.000167
href                      0.000501
Unnamed: 22               0.999833
Unnamed: 23               0.999666
dtype: float64

In [222]:
#for 'Reported 06-Jul-1912' for example I wanted to delete the word reported
newshark['Date'] = newshark['Date'].str.replace('reported ', '')
newshark['Date']

0         18-Sep-16
1         18-Sep-16
2         18-Sep-16
3         17-Sep-16
4         16-Sep-16
           ...
5987    Before 1903
5988    Before 1903
5989      1900-1905
5990      1883-1889
5991      1845-1853
Name: Date, Length: 5992, dtype: object

In [223]:
#for "No date, Before 1963" for example I don't see any real solution, but I will delete  'no date' as it is unusefull 
newshark['Date'] = newshark['Date'].str.replace('No date, ', '')
newshark['Date']

0         18-Sep-16
1         18-Sep-16
2         18-Sep-16
3         17-Sep-16
4         16-Sep-16
           ...
5987    Before 1903
5988    Before 1903
5989      1900-1905
5990      1883-1889
5991      1845-1853
Name: Date, Length: 5992, dtype: object

In [224]:
#comparar se case name, case name 1 and case name 2 are the same

comparison_column = np.where(newshark2["Case Number.1"] == newshark2["Case Number.2"], True, False)
comparison_column

KeyError: 'Case Number.1'

In [225]:
newshark = shark.drop(columns=["Case Number.2"])

In [226]:
#compare pdf and formula
comparison_column = np.where(newshark["href"] == newshark["href formula"], True, False)
comparison_column

array([ True,  True,  True, ...,  True,  True,  True])

In [227]:
newshark = shark.drop(columns=["href"])

In [228]:
newshark.columns=newshark.columns.str.lower().str.lstrip().str.rstrip().str.replace(' ','_')

In [229]:
#capitalize only the first letter of Country column values

newshark = newshark.Country.str.title()
print(newshark)

AttributeError: 'DataFrame' object has no attribute 'Country'

In [230]:
#capitalize only the first letter of Country column values => fix USA as now it's wrong

newshark['Country'] = newshark['Country'].str.replace('Usa', 'United States')
newshark['Country']

KeyError: 'Country'

In [231]:
#drop duplicate rows such as 'male/female' in column Name and not only column Sex
newshark.drop_duplicates(inplace=True)

In [232]:
#my codes are not working. I wanted to check the wrong values and then swap them to none
#print(set(newshark['sex']))
print(set(newshark.iloc['sex']))

TypeError: Cannot index by location index with a non-integer key

In [233]:
#my codes don't work. I wanted to check the wrong values and then swap them to none
#print(set(newshark['sex']))
print(set(newshark.iloc['activity']))

TypeError: Cannot index by location index with a non-integer key

In [234]:
newshark.describe

<bound method NDFrame.describe of        case_number         date  year        type             country  \
0     2016.09.18.c    18-Sep-16  2016  Unprovoked                 USA
1     2016.09.18.b    18-Sep-16  2016  Unprovoked                 USA
2     2016.09.18.a    18-Sep-16  2016  Unprovoked                 USA
3       2016.09.17    17-Sep-16  2016  Unprovoked           AUSTRALIA
4       2016.09.15    16-Sep-16  2016  Unprovoked           AUSTRALIA
...            ...          ...   ...         ...                 ...
5987       ND.0005  Before 1903     0  Unprovoked           AUSTRALIA
5988       ND.0004  Before 1903     0  Unprovoked           AUSTRALIA
5989       ND.0003    1900-1905     0  Unprovoked                 USA
5990       ND.0002    1883-1889     0  Unprovoked              PANAMA
5991       ND.0001    1845-1853     0  Unprovoked  CEYLON (SRI LANKA)

                   area                             location      activity  \
0               Florida     New Smyrna Beach, Volusia County       Surfing
1               Florida     New Smyrna Beach, Volusia County       Surfing
2               Florida     New Smyrna Beach, Volusia County       Surfing
3              Victoria                     Thirteenth Beach       Surfing
4              Victoria                          Bells Beach       Surfing
...                 ...                                  ...           ...
5987  Western Australia                          Roebuck Bay        Diving
5988  Western Australia                                  NaN  Pearl diving
5989     North Carolina                       Ocracoke Inlet      Swimming
5990                NaN                 Panama Bay 8ÂºN, 79ÂºW           NaN
5991   Eastern Province  Below the English fort, Trincomalee      Swimming

                       name sex  ...   time    species  \
0                      male   M  ...  13h00        NaN
1            Chucky Luciano   M  ...  11h00        NaN
2                      male   M  ...  10h43        NaN
3           Rory Angiolella   M  ...    NaN        NaN
4                      male   M  ...    NaN  2 m shark
...                     ...  ..  ...    ...        ...
5987                   male   M  ...    NaN        NaN
5988                  Ahmun   M  ...    NaN        NaN
5989  Coast Guard personnel   M  ...    NaN        NaN
5990        Jules Patterson   M  ...    NaN        NaN
5991                   male   M  ...    NaN        NaN

                     investigator_or_source                             pdf  \
0               Orlando Sentinel, 9/19/2016            2016.09.18.c-NSB.pdf
1               Orlando Sentinel, 9/19/2016        2016.09.18.b-Luciano.pdf
2               Orlando Sentinel, 9/19/2016            2016.09.18.a-NSB.pdf
3                        The Age, 9/18/2016       2016.09.17-Angiolella.pdf
4                        The Age, 9/16/2016       2016.09.16-BellsBeach.pdf
...                                     ...                             ...
5987       H. Taunton; N. Bartlett,  p. 234          ND-0005-RoebuckBay.pdf
5988  H. Taunton; N. Bartlett,  pp. 233-234               ND-0004-Ahmun.pdf
5989   F. Schwartz, p.23; C. Creswell, GSAF  ND-0003-Ocracoke_1900-1905.pdf
5990                    The Sun, 10/20/1938      ND-0002-JulesPatterson.pdf
5991                             S.W. Baker              ND-0001-Ceylon.pdf

                                           href_formula case_number.1  \
0     http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.c
1     http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.b
2     http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.a
3     http://sharkattackfile.net/spreadsheets/pdf_di...    2016.09.17
4     http://sharkattackfile.net/spreadsheets/pdf_di...    2016.09.16
...                                                 ...           ...
5987  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0005
5988  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0004
5989  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0003
5990  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0002
5991  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0001

     case_number.2 original_order unnamed:_22 unnamed:_23
0     2016.09.18.c           5993         NaN         NaN
1     2016.09.18.b           5992         NaN         NaN
2     2016.09.18.a           5991         NaN         NaN
3       2016.09.17           5990         NaN         NaN
4       2016.09.15           5989         NaN         NaN
...            ...            ...         ...         ...
5987       ND.0005              6         NaN         NaN
5988       ND.0004              5         NaN         NaN
5989       ND.0003              4         NaN         NaN
5990       ND.0002              3         NaN         NaN
5991       ND.0001              2         NaN         NaN

[5992 rows x 23 columns]>

In [235]:
#Export
newshark.to_csv('GSAF5_cleaned.csv')